<div id="form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
</div>
<div id="form">
    <label for="business-name">Distribution Hub:</label>
    <select id="distribution-hub">
        <option value="District 7">District 7</option>
        <option value="District 1">District 1</option>
        <option value="District 8">District 8</option>
    </select>
    <label for="business-address">Profile Image:</label>
    <input type="file" id="profile_image" name="profile_image">
</div>