html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    text-align: center;
}

table {
    border-collapse: collapse;
}

.container-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 30px;
    border-collapse: collapse;
}

th {
    background-color: #a776c5;
}

th,
td {
    padding: 10px 1px;
    border-bottom: 1px solid #DDD;
}


tr:hover, td:hover {
    background-color: #D6EEEE;
}

.main-container {
    margin: 50px 50px;
}

.main-container h3 {
    background-color: #d4a373;
    padding: 20px 20px;
}

.active-order h3,
.recent-order h3 {
    margin: 30px 30px;
    padding: 20px 20px;
    background-color: #588157;
}

.overlay {
    width: 50%;
    height: 50%;
    background-color: #d4a373;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.overlay-container {
    transition: transform 0.4s;
    opacity: 0.3;
}

.row {
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: -5px;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.column {
    flex: 50%;
    padding: 5px;
}

td select {
    width: 140px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: #d4a373;
    text-align: center;
}

#close-button {
    position: fixed;
    top: 1%;
    right: 1%;
}