<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Customer Page</title>
    <link rel="stylesheet" type="text/css" href="/css/my_profile.css" />
    <link
      rel="icon"
      type="image/png"
      href="https://lzd-img-global.slatic.net/g/p/68a3c135bd49ae699e90a4da955b7ffb.png_1200x1200q80.png_.webp"
    />
    <script src="/js/login_register.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
  </head>
  <body>
    <script>
      checkLogin();
    </script>
    <%- include('../../partials/customer_page/customer_profile_page.ejs'); %>
  </body>
</html>
