<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/header_footer.css" type="text/css" />
    <link rel="stylesheet" href="css/customer_page.css" type="text/css" />
    <script src="/js/login_register.js"></script>
    <link rel="icon" href="https://lzd-img-global.slatic.net/g/tps/tfs/TB1PApewFT7gK0jSZFpXXaTkpXa-200-200.png" />
    <title>Hazada - Add New Product</title>
</head>

<body>
    <script>
        checkLogin();
    </script>
    <%- include('../header.ejs'); %>
    <%- include('../../partials/customer_page/customer_main_page.ejs'); %>
    <%- include('../footer.ejs'); %>
</body>