* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin: 30px;
}
form {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}
.left-side, .right-side {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-side {
    width: 44%;
}
.right-side {
    width: 618px; 
    /* = 200 + 200 + 100 + 100 + 6 + 6 + 6 (big images, small images and gaps respectively) */
}
input {
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
}
.image-box {
    width: 200px;
    height: 200px;
    background: gainsboro;
    /* border: 1px solid; */
}
.image-box:nth-child(3),
.image-box:nth-child(4) {
    width: 100px;
    height: 100px
}
.image-container {
    display: flex;
    gap: 6px;
}
#description {
    height: 180px;
}
.small-text {
    font-size: 14px;
    color: grey
}
h4 {
    margin-bottom: 12px;
}
button {
    padding: 12px;
    width: 200px;
    border-radius: 10px;
    border: none;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}
#submit-btn {
    background: #1D70FF; /*lazada color*/
    color: white;
}