<footer>
    <div class="footer_main">
        <div class="tag">
            <img src="https://lzd-img-global.slatic.net/g/tps/tfs/TB1PApewFT7gK0jSZFpXXaTkpXa-200-200.png" />
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
                quaerat ipsa aspernatur ad sequi, dolore eveniet vitae quasi.
                Excepturi ipsa odio impedit sequi at hic velit, minus vero sint.
                Voluptas?
            </p>
        </div>

        <div class="tag">
            <h1>Quick Link</h1>
            <a href="#">Home</a>
            <a href="#">Shop</a>
            <a href="#">Deal</a>
            <a href="#">Brands</a>
            <a href="#">Service</a>
            <a href="#">Help</a>
        </div>

        <div class="tag">
            <h1>Contact Info</h1>
            <a href="#"><i class="fa-solid fa-phone"></i>+84 12 345 6789</a>
            <a href="#"><i class="fa-solid fa-phone"></i>+84 32 444 699</a>
            <a href="#"><i class="fa-solid fa-envelope"></i>*********@gmail.com</a>
        </div>

        <div class="tag">
            <h1>Follow Us</h1>
            <div class="social_link">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>

        <div class="tag">
            <h1>Newsletter</h1>
            <div class="search_bar">
                <input type="text" placeholder="Your email id here" />
                <button type="submit">Subscribe</button>
            </div>
        </div>
    </div>
</footer>