<header>
    <div class="header-wrapper">
        <nav>
            <img src="https://lzd-img-global.slatic.net/g/tps/tfs/TB1PApewFT7gK0jSZFpXXaTkpXa-200-200.png"
                alt="Lazada logo-img" />

            <div class="right-side">
                <img id="burger-menu" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/2048px-Hamburger_icon.svg.png">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Deals</a></li>
                    <li><a href="#">Brand</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
                </div>
            </div>
        </nav>
    </div>
</header>