<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login_register.css">
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css">
    <script src="/js/login_register.js"></script>
    <script src="https://kit.fontawesome.com/4510976b27.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('header.ejs'); %>
    <%- include('../login.ejs'); %>
    <%- include('footer.ejs'); %>
</body>