<div class="container">
    <h1>
        <%= form_title %>
    </h1>
    <form method="post" action="login-verify">
        <div class="login-choose">
            <div><label for="user_type">Login as a:</label></div>
            <select name="user_type" id="user_type">
                <option value="customer">Customer</option>
                <option value="vendor">Vendor</option>
                <option value="shipper">Shipper</option>
            </select>
        </div>
        <div id="form">
            <div class="username">
                <div>
                    <label for="username">Username:</label>
                </div>
                <div>
                    <input type="text" id="username" name="username" required>
                </div>
            </div>
            <div class="password">
                <div>
                    <label for="password">Password:</label>
                </div>
                <div>
                    <input type="password" id="password" name="password" required>
                </div>
            </div>
        </div>
        <input type="submit" id="login-button" onclick="logItem()"></button><br>
    </form>
    <p>Don't have account ?</p>
    <button id="login-button" onclick="window.location = '/registration'">Register</button>
</div>