* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-wrapper {
    margin: 0;
}

main {
    margin: 30px;
}

form {
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
}

hr {
    margin: 10px 0;
    width: 100%;
}

.left-side,
form .right-side {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-side {
    width: 44%;
    margin-right: 30px;
}

.right-side {
    width: min-content;
}

input {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 8px;
}

textarea {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.image-container img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.image-container img {
    /* when user uploads an image, the image is within the container no matter the size */
    /* width: 200px;
    height: 200px; */
}

.image-container>input {
    /* Hide the button titled "Choose file" */
    display: none;
}

.last-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.last-two img {
    height: calc(100px - 8px);
}

.image-container {
    display: flex;
    gap: 12px;
}

.small-text {
    font-size: 14px;
    color: grey;
    margin-top: 12px;
}

.left-side h4 {
    color: #254e95;
}

h4 {
    margin-bottom: 12px;
    font-size: 16px;
}

main button {
    padding: 12px;
    width: 200px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

#submit-btn {
    background: #1D70FF;
    /*lazada color*/
    color: white;
}

#reset-btn {
    background: gainsboro;
}

@media screen and (max-width: 1024px) {
    h1 {
        text-align: center;
        font-size: 25px;
    }

    form {
        flex-direction: column;
        width: max-content;
        gap: 60px;
        margin: 100px auto;
    }

    .left-side {
        width: 100%;
    }

    form .right-side {
        height: max-content;
    }

    .buttons {
        margin-top: 80px;
        width: 100%;
    }

    .buttons button {
        width: calc(100%/2);
    }
}

@media screen and (max-width: 768px) {
    .image-container {
        flex-wrap: wrap;
    }

    .left-side {
        width: 100%;
    }

    .image-container img {
        width: 115px;
        height: 115px;
    }

    .last-two img {
        height: calc(115px/2)
    }

    .last-two {
        flex-direction: row;
        width: 100%;
        gap: 12px;
    }

    .buttons button {
        padding: 10px;
    }

    input[type="text"] {
        width: 100%;
    }

}

@media screen and (max-width: 280px) {
    .image-container img {
        width: 98px;
        height: 98px;
    }

    .last-two img {
        height: calc(98px/2)
    }

    .small-text {
        text-align: justify;
    }

    .left-side,
    h1 {
        width: 208px;
    }
}