body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #ffffff;
}

.container {
	margin: 0 auto;
	width: 50%;
	height: 100%;
	/* max-width: 900px; */
	background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8), url(https://cdn.dribbble.com/users/6111626/screenshots/14319707/media/dc42f84eedbe9000699e5a6ef77dcd17.jpg?compress=1&resize=400x300&vertical=tophttps://cdn.dribbble.com/users/6111626/screenshots/14319707/media/dc42f84eedbe9000699e5a6ef77dcd17.jpg?compress=1&resize=400x300&vertical=top));
	background-color: #fcfcfc;
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-align: center;
}

h1 {
	text-align: center;
	color: #f16c20;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 30px;
}

label {
	margin-bottom: 10px;
	font-weight: bold;
}

input[type=text],
input[type=password],
select {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	margin-right: 20px;
	text-align: center;
}

input[type=text]:focus,
input[type=password]:focus {
	background-color: #eaeaea;
	transition: ease-in 0.2s;
}

input[type=submit], button {
	background-color: #f16c20;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 20px;
	margin-top: 30px;
}

input[type=submit]:hover, button {
	background-color: #e65a1d;
}

.drop-container {
	position: relative;
	display: flex;
	gap: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	border: 2px dashed #555;
	color: #444;
	cursor: pointer;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
	background: #eee;
	border-color: #111;
}

.drop-container:hover .drop-title {
	color: #222;
}

.drop-title {
	color: #444;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	transition: color .2s ease-in-out;
}

input[type=file] {
	width: 350px;
	max-width: 100%;
	color: #444;
	padding: 5px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #555;
}

input[type=file]::file-selector-button {
	margin-right: 20px;
	border: none;
	background: #084cdf;
	padding: 10px 20px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
	background: #0d45a5;
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}
#form {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
#form div {
	display: flex;
	gap: 15px;
	align-items: center;
}
#form input {
	width: 100%;
	margin-right: 0;
}
form select {
	border: 0.25px solid;
}
.login-choose {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.login-choose select{
	margin-right: 0;
}
.form {
	text-align: center;
}
.container input {
	border-bottom: 1px solid;
}
.important-info {
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 1228px) {
	#form {
		flex-direction: column;
		gap: 10px;
	}
	#form>div {
		width: 100%;
	}
	.username div:nth-child(2),
	.password div:nth-child(2) {
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	.container h1 {
		font-size: 32px;
		margin-bottom: 20px;
	}
	.important-info {
		flex-direction: column;
	}
}
@media screen and (max-width: 768px) {
	.container h1 {
		font-size: 25px;
	}
	.form {
		display: flex;
	}
	.container {
		width: 90%;
	}
	.username,
	.password {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}