<!-- RMIT University Vietnam
   Course: COSC2430 Web Programming
   Semester: 2023A
  Assessment: Assignment 2
   Author: Huy
ID: s3823794
Acknowledgement: Acknowledge the resources that you use here. -->
<section id="menu">
    <div class="logo">
        <img src="https://cdn.chanhtuoi.com/uploads/2023/03/logo-lazada-1.png" alt="">
    </div>

    <div class="items">
        <li><i class="fas fa-home"></i><a href="/shipper-page">Home</a></li>
        <li><i class="fas fa-wrench"></i><a href="#">Setting</a></li>
        <li><i class="fas fa-sign-out"></i><a href="/" onclick="deleteItem()">Sign Out</a></li>
    </div>
</section>
<section id="interface">
    <div class="navigation">
        <div class="n1">
            <div>
                <i id="menu-btn" class="fas fa-bars"></i>
            </div>
            <div class="search">
                <i class="far fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="profile">
            <i class="far fa-bell"></i>
            <a href="VendorProfilePage.html"><img
                    src="https://i.pinimg.com/564x/d8/33/df/d833dfc0aee636bb8dff1e1a64c490ba.jpg" alt=""></a>
        </div>
    </div>
    <div class="container">
        <div class="rightbox">
            <div class="profile tabShow">
                <h1>Personal Info</h1>
                <div>
                    <h2>Role</h2>
                    <input type="text" class="input" id="roleInput" value="Shipper">
                </div>
                <div>
                    <h2>Name</h2>
                    <input type="text" class="input" value="Trung">
                </div>
                <div>
                    <h2>Distribution Hub</h2>
                    <input type="text" class="input" value="Hub 1">
                </div>
                <div>
                    <h2>Email</h2>
                    <input type="text" class="input" value="trungnguyen@gmail.com">
                </div>
                <div>
                    <h2>Password</h2>
                    <input type="password" class="input" value="brightcode">
                </div>
                <br>
                <button class="btn" id="updateBtn">Update</button>
                <div class="profile-image">
                    <h1>Profile Picture</h1>
                    <img src="https://i.pinimg.com/originals/ff/a0/9a/ffa09aec412db3f54deadf1b3781de2a.png"></img>
                    <input type="file" name="" id="file" accept="image/*">
                    <label for="file">Edit Picture</label>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../layouts/footer.ejs'); %>
</section>