<!-- RMIT University Vietnam
   Course: COSC2430 Web Programming
   Semester: 2023A
  Assessment: Assignment 2
   Author: Huy
ID: s3823794
Acknowledgement: Acknowledge the resources that you use here. -->
<div class="container">
    <h1>
        <%= form_title %>
    </h1>
    <form method="post" action="role-selection">
        <label for="user_type">Register as a:</label>
        <select name="user_type" id="user_type">
            <option value="customer">Customer</option>
            <option value="vendor">Vendor</option>
            <option value="shipper">Shipper</option>
        </select>
        <input type="submit" id="login-button"></button>
    </form>
</div>